#detail-container {
  margin-top: 50px;
  padding: 0 30px;
  display: flex;
  justify-content: center;

  .image-container {
    width: 45%;
    img {
      width: 100%;
    }
  }

  .info-container {
    width: 45%;
  }

}
