#detail-container {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;


  .image-container {
    width: 100%;
    padding: 0 15px;
    img {
      width: 100%;
    }
  }

  .info-container {
    width: 90%;

    h2 {
      text-align: center;
      margin: 20px 0;
      text-decoration: underline;
    }

    .add-to-cart {
      display: flex;
      justify-content: center;
      padding: 20px 0;
    }
  }

}
