<div id="detail-container">

  <div class="image-container">
      <img [src]="movie.imageUrl">
  </div>

  <div class="info-container">
    <h2>{{ movie.title }}</h2>
    <p>{{ movie.description }}</p>
    <p>
      <span>Categories: </span>
      <span *ngFor="let category of movie.categoryList">{{ category.category }}</span>
    </p>
    <p>Price: <span>{{ movie.price }}</span> SEK</p>

    <div class="addToCart">
      <button class="btn btn-light" (click)="addToBag(movie)">Add to bag</button>
    </div>

  </div>

</div>
