<div class="movie">
  <div class="img-container">
    <a routerLink="/detail/{{ movie.id }}">
      <img [src]="movie.imageUrl" alt="">
    </a>
  </div>
  <div class="info-container">
    <h4 class="title">{{movie.title}}</h4>
    <p><span class="smaller">Price: </span>{{movie.price}}</p>
    <p><span class="smaller">Amount: </span>{{ movie.amount }}</p>

    <p><button class="increase btn btn-dark" (click)="increaseAmount()">+</button><button class="decrease btn btn-dark" (click)="decreaseAmount()">-</button></p>
  </div>
  <div class="delete-container">
    <p><i (click)="removeFromCart()"class="fas fa-trash-alt"></i></p>
  </div>

</div>
