nav {
  height: 60px;
  padding: 0 30px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  color: white;

  a:link, a:visited {
    text-decoration: none;
    color: white;
  }
  a:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .icons {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;

    .search-a {
      position: absolute;
      right: 80px;

      .search {
        width: 30px;
      }
      .search:hover {
        width: 34px;
      }
    }

    .cart-a {
      position: relative;
      height: 35px;
      .cart {
        width: 35px;
        color: white;
        transition: 100ms;
      }
      .cart:hover {
        width: 40px;
      }
      .badge {
        position: absolute;
        right: -16px;
        top: 0;
        width: 16px;
        height: 16px;
        font-size: 0.7rem;
        padding: 0;
        line-height: 1.6;
      }
    }
  }


  .logo {
    width: auto;
  }
}
