<h3 class="header">Your cart</h3>
<app-order-movie class="cart-container" *ngFor="let movie of currentCartItems" [movie]="movie" (remove)="removeMovie(movie)"></app-order-movie>

<div *ngIf="currentCartItems.length > 0" class="total-price">

</div>


<app-order-form *ngIf="currentCartItems.length > 0; else empty" [cart]="currentCartItems" (userInfo)="sendOrderViaService($event)"></app-order-form>

<ng-template #empty>
  <div class="empty-cart">
    <span>Your have no movies added to your cart</span>
  </div>
</ng-template>
