.header {
  text-align: center;
  margin: 40px 0;
}

.cart-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.empty-cart {
  width: 100%;
  text-align: center;
}
