.header {
  text-align: left;
  padding: 0 15px;
  margin-top: 40px;
  font-weight: 400;
}

.movies-container {
  margin: 0 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: scroll;
}

