<h3 class="header">Filmtoppen</h3>
<div class="movies-container">
    <app-movie *ngFor="let movie of movies" [category]="0" [movie]="movie"></app-movie>
</div>

<h3 class="header">Action</h3>
<div class="movies-container">
  <app-movie *ngFor="let movie of movies" [category]="5" [movie]="movie"></app-movie>
</div>

<h3 class="header">Thriller</h3>
<div class="movies-container">
  <app-movie *ngFor="let movie of movies" [category]="6" [movie]="movie"></app-movie>
</div>

<h3 class="header">Comedy</h3>
<div class="movies-container">
  <app-movie *ngFor="let movie of movies" [category]="7" [movie]="movie"></app-movie>
</div>

<h3 class="header">Sci-fi</h3>
<div class="movies-container">
  <app-movie *ngFor="let movie of movies" [category]="8" [movie]="movie"></app-movie>
</div>
