<h4 class="header">Top rated movies</h4>
<div class="movies-container">
    <app-movie *ngFor="let movie of movies" [category]="0" [movie]="movie"></app-movie>
</div>

<h4 class="header">Action</h4>
<div class="movies-container">
  <app-movie *ngFor="let movie of movies" [category]="5" [movie]="movie"></app-movie>
</div>

<h4 class="header">Thriller</h4>
<div class="movies-container">
  <app-movie *ngFor="let movie of movies" [category]="6" [movie]="movie"></app-movie>
</div>

<h4 class="header">Comedy</h4>
<div class="movies-container">
  <app-movie *ngFor="let movie of movies" [category]="7" [movie]="movie"></app-movie>
</div>

<h4 class="header">Sci-fi</h4>
<div class="movies-container">
  <app-movie *ngFor="let movie of movies" [category]="8" [movie]="movie"></app-movie>
</div>
