<h2>Checkout information</h2>
<div class="checkout-form">
  <form [formGroup]="customer">
    <div class="form-group">
      <label for="exampleInputEmail1">First name</label>
      <input type="text" class="form-control" formControlName="firstName" placeholder="first name" name="firstName">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Last</label>
      <input type="text" class="form-control" formControlName="lastName" placeholder="last name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" formControlName="email" placeholder="email">
    </div>

    <div formGroupName="address">
      <div class="form-group">
        <label for="exampleInputEmail1">Street</label>
        <input type="text" class="form-control" formControlName="street" placeholder="street">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Zip code</label>
        <input type="text" class="form-control" formControlName="zip" placeholder="zip">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">City</label>
        <input type="text" class="form-control" formControlName="city" placeholder="city">
      </div>
    </div>

    <p>
      {{customer.value | json}}
    </p>

    <div>
      <label for="exampleFormControlSelect1">Payment Method</label>
      <select class="form-control" id="payment">
        <option>Visa</option>
        <option>Mastercard</option>
        <option>Swish</option>
      </select>
    </div>
    <div class="button-container">
      <button type="submit" class="btn btn-light" (click)="sendUserInfo()">Submit order</button>
    </div>
  </form>
</div>

