.movie {
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  .img-container {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    img {
      width: 94%;
      max-height: 100%;
    }
  }
  .info-container {
    display: flex;
    justify-content: flex-start;
    width: 90%;
    margin-top: 16px;
    height: 30px;

    .title-container {
      font-size: 0.9rem;
      margin-left: 5%;
      text-align: center;
      width : 100%;
      overflow:hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }


}
